/* src/components/ProductsPage.css */
.products-page {
    padding: 20px;
  }
  .product-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  .product-item {
    width: 23%;
    margin: 1%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  .product-item a{
    text-decoration: none;
  }
  .product-image{
    width: 80%;
    height: auto;
  }

  .loading, .error{
    text-align: center;
}